---
import type { GetStaticPaths } from 'astro'
import LayoutMain from '@layouts/LayoutMain.astro'
import PokemonCard from '@components/pokemons/PokemonCard.astro'
import type { PokemonListResponse } from '@interfaces/pokemon-list.response'
import Title from '@components/shared/Title.astro'

export const getStaticPaths = (async () => {
  const response = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151')
  const { results } = (await response.json()) as PokemonListResponse

  console.log(results)

  return results.map((pokemon) => ({
    params: { name: pokemon.name },
    props: { url: pokemon.url }
  }))
}) satisfies GetStaticPaths

//tomar los parametros de la ruta
const { name } = Astro.params
const { url } = Astro.props
const id = url.split('/').at(-2)
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`
const imageSRC = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`
---

<LayoutMain
  title={`Pokemon API - ${id} ${name}`}
  description=`Información del pokemon ${name}`
  image={imageSRC}
>
  <section
    class="my-5 mx-10 flex flex-col justify-center items-center text-center"
  >
    <button onclick="history.back()" class="text-blue-500">Regresar</button>
    <Title>{name}</Title>
    <PokemonCard name={name} url={url} isBig />
    <audio controls class="mt-5">
      <source type="audio/ogg" src={audioSrc} />
      Your browser does not support the audio element.
    </audio>
  </section>
</LayoutMain>

<style>
  a {
    @apply hover:underline text-blue-500;
  }
</style>
